/* место для вашего кода */

.header {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 50px;
}

.header__links-list {
  display: flex;
  justify-self: start;
  justify-content: space-around;
  gap: 32px;
/*  list-style-type: circle; */
/*  min-width: 392px; */
  border: 1px solid red;
  font-family: Raleway;
  font-size: 18px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {

}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  border: 1px solid red;
  display: block;
  width: 148px;
  height: 105px;  
}

.header__logo-image {

}

.header__address {
  max-width: 240px;
  justify-self: end;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Raleway;
  font-style: normal;
  font-size: 18px;
}


.cover {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center bottom;
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.cover__title {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  z-index: 2;
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;  
  color: #fff;
  text-transform: uppercase;
  padding: 0;
}

.aligned-text {
  border: 1px solid red;
}

.aligned-text_left {
  display: block;
  text-align: left;
  line-height: 114px;
}

.aligned-text_center {
  border: 1px solid red;
  display: block;
  text-align: center;
  line-height: 143px;
}

.aligned-text_right {
  border: 1px solid red;
  display: block;
  text-align: right;
  line-height: 130px;
}

.cover__description {
  border: 1px solid red;
  display: flex;
  align-content: center;
  justify-content: space-between;
  z-index: 2;
}

.cover__description-text {
  display: flex;
  align-items: center;
  border: 1px solid red;
  word-spacing: 18px;
  text-transform: uppercase;
  color:#fff;
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}

.bet-button {
  border: 1px solid red;
  display: block;
  border: 1px solid white;
  background: transparent;
  font-family: Raleway;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 11px 31px;
}

.lots {
  border: 1px solid red;
  height: 723px;
  margin: 180px 24px 0 24px;
}

.lots-card-list {
  display: flex;
  border: 1px solid red;
  margin:27px 0 30px 0;
  list-style-type: none;
  justify-content: space-between;
}

.lots-card-list-item {
  border: 1px solid red;
  min-width: 334px;
  min-height: 596px;
  width: 334px;
  height: 596px;
  padding: 48px 40px;
}

.lots-card-list-item article {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.cover-film {
  background-image: url("../images/card-lot-01.jpg"); 
  background-size: cover;
}

.cover-book {
  background-image: url("../images/card-lot-02.jpg"); 
  background-size: cover;
}

.cover-picture {
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
}

.about {
  display: flex;
  border: 1px solid red;
  margin: 120px auto 0;
  width: 1059px;
  padding: 35px 0 0 47px;
}

.about-logo-background {
  border: 1px solid red;
  display: flex;
  min-width: 240px;
  min-height: 240px;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}

.about-logo {
  display: block;
  width: 148px;
  height: 114px;
  margin: auto;
}

.about-text-column {
  border: 1px solid red;
  margin: 98px 0 0 72px;
}

.footer {
  display: flex;
  border: 1px solid red;
  margin: 180px 0 0 0;
  padding: 0 50px;
  min-height: 180px;  
  justify-content: space-between;
}

.footer-nav-list {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.socials {
  display: flex;
  width: 240px;
  justify-content: space-between;
}

.socials-logo {
  width: 48px;
  height: 48px;
}

.link:hover {
  text-decoration: none;
}